.footer {
    a {
        text-decoration: none;
        color: black;
    }
    background: #f9f9f9;
    .slogan {
        padding: 20px 0;
        ul {
            li {
                float: left;
                width: 25%;
                p {
                    line-height: 40px;
                    i {
                        text-align: center;
                        display: inline-block;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        border: 1px solid red;
                        vertical-align: middle;
                        color: red;
                        line-height: 40px;
                        font-size: 28px;
                        margin-right: 20px;
                    }
                    sapn {
                        vertical-align: middle;
                        color: #3a3a3a;
                    }
                }
            }
        }
    }
    .servece {
        padding: 24px 0;
        .s-left {
            float: left;
            width: 77%;
            ul {
                li {
                    float: left;
                    width: 16.6%;
                    p {
                        font-size: 14px;
                        padding: 0 0 7px 0;
                        margin: 0;
                    }
                    a {
                        display: block;
                        font-size: 12px;
                        height: 21px;
                        line-height: 21px;
                    }
                }
            }
        }
        .s-right {
            float: left;
            width: 23%;
            box-sizing: border-box;
            border-left: 1px solid #aaaaaa;
        }
    }
}
