/*
html, body, div, dl, dt, dd, ul,
 ol, li, h1, h2, h3, h4, h5, h6, pre,
  code, form, fieldset, legend, input
  , textarea, p, blockquote, th, td, 
  hr, button, article, aside, details,
   figcaption, figure, footer, header,
    hgroup, menu, nav, section
*/
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/* 解决父元素的高度塌陷问题 */

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
// hover后的字体颜色
@hover-red: #ca141d;

.warpper {
    width: 1200px;
    margin: 0 auto;
}

//tob-bar
.top-bar {
    background-color: #2e2828;
    height: 36px;
    position: relative;
    z-index: 11;
    a {
        color: #afafaf;
        display: inline-block;
        line-height: 36px;
        font-size: 12px;
    }
    // .top-bar购物车图标
    .icon-gouwuche {
        padding-right: 8px;
        font-size: 14px;
    }
    ul > li {
        float: left;
        padding: 0 8px;
        position: relative;

        &:nth-child(n + 2)::before {
            content: '';
            width: 1px;
            height: 10px;
            display: block;
            position: absolute;
            top: 13px;
            left: 0;
            background: #414141;
        }
        > a:hover {
            color: white;
        }
    }
    // top-bar二级导航
    .top-sub {
        position: relative;
        padding-right: 25px;
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 10px;
            height: 5px;
            width: 5px;
            border: 1px solid;
            border-color: #afafaf #afafaf transparent transparent;
            transform: translateY(3px) rotate(135deg);
        }
        .sub {
            display: none;
        }
        &:hover {
            background-color: white;
            &::before {
                display: none;
            }
            &::after {
                border-color: @hover-red @hover-red transparent transparent;
                transform: translateY(6px) rotate(-45deg);
            }
            & > a {
                color: @hover-red;
            }
            //tob-bar二级导航
            .sub {
                display: block;
                background-color: white;
                position: absolute;
                top: 36px;
                right: 0;
                padding: 12px 0 6px;
                border-radius: 0 0 8px 8px;
                box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
                dt {
                    text-align: center;
                    a {
                        color: #777;
                        &:hover {
                            color: @hover-red;
                        }
                    }
                }
            }
            .sub1 {
                width: 120px;
            }
            .sub2 {
                width: 100%;
            }
            .sub3 {
                width: 925px;
                position: absolute;
                right: 0;
                top: 36px;
                padding: 20px 0 0 0;
                background-color: white;

                > div {
                    float: left;
                    width: 185px;
                    padding: 0;
                }
                a {
                    float: left;
                    width: 50%;
                    color: #777;
                    &:hover {
                        color: @hover-red;
                        text-decoration: none;
                    }
                }
                .home {
                    text-align: center;
                    a {
                        width: 100%;
                    }
                    div {
                        margin: 10px auto;

                        width: 50px;
                        height: 50px;
                        background-color: rgb(218, 218, 218);
                        border-radius: 50%;
                        i {
                            font-size: 33px;
                            line-height: 50px;
                        }
                    }
                }
            }
            .sub-phone {
                width: 310%;
                padding: 20px 20px 0 20px;
                position: absolute;
                top: 36px;
                right: 0;
                background-color: white;
                > div {
                    padding-bottom: 20px;
                }
                img {
                    width: 90px;
                    height: 90px;
                }
                .code-img {
                    float: left;
                }
                .wechat {
                    padding-left: 10px;
                    float: right;
                    p {
                        font-size: 12px;
                        color: #777;
                    }
                }
            }

            .sub-gouwuche {
                padding: 50px 0;
                background-color: white;
                width: 500%;
                position: absolute;
                right: 0;
                top: 36px;
                text-align: center;
                div {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: rgb(228, 228, 228);
                    margin: 0 auto;
                }
                .icon-gouwuche {
                    font-size: 55px;
                    color: #ccc8c8;
                    line-height: 100px;
                }
                p {
                    margin-top: 15px;
                    text-align: center;
                    font-size: 14px;
                    color: #afafaf;
                }
            }
        }
    }
    .top-bar-left {
        float: left;
    }
    .top-bar-right {
        float: right;
    }
}

// header
.header {
    background-color: rgb(255, 255, 255);
    padding: 18px 0 15px;

    .warpper {
        .logo {
            float: left;
            img {
                width: 205px;
                height: 36px;
            }
        }
        // 华为专区导航
        .nav {
            float: left;
            li {
                float: left;
                text-align: center;
                a {
                    display: inline-block;
                    line-height: 36px;
                    padding-right: 20px;
                    img {
                        width: 100%;
                        display: block;
                    }
                }

                &:nth-of-type(1) a {
                    width: 74px;
                    padding: 7px 20px 0 30px;
                }
            }
        }
        .right-search {
            position: relative;
            font-size: 0;
            float: right;
            margin-top: 7px;
            z-index: 9;

            input[type='text'] {
                vertical-align: middle;
                width: 200px;
                height: 30px;
                box-sizing: border-box;
                background-color: #f0f0f0;
                border: 1px solid #c9c9c9;
                border-right: none;
                outline: none;
                border-radius: 15px 0 0 15px;
                font-size: 12px;
                line-height: 36px;
                text-indent: 2em;
                &:focus ~ P {
                    display: none;
                }
                &:focus ~ div {
                    display: block;
                }
            }
            input[type='submit'] {
                height: 30px;
                width: 30px;
                background-color: #f0f0f0;
                border-radius: 0 15px 15px 0;
                border: 1px solid #c9c9c9;
                border-left: none;
                outline: none;
                vertical-align: middle;
                &::after {
                    content: '';
                    display: inline-block;
                }
            }
            a {
                font-size: 12px;
                color: #999;
                margin-right: 5px;
            }
            form > p:nth-of-type(1) {
                position: absolute;
                right: 50px;
                top: 50%;
                transform: translateY(-50%);
            }
            i {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
            div {
                display: none;
                position: absolute;
                left: 0;
                top: 40px;
                width: 100%;
                border-radius: 0 0 8px 8px;
                box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
                p {
                    padding: 0 10px;
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    font-size: 12px;
                    background-color: white;
                    &:hover {
                        background-color: #c9c9c9;
                    }
                    &:nth-last-of-type(1) {
                        border-radius: 0 0 8px 8px;
                    }
                }
            }
        }
        // 右侧搜索框
    }
}
.main {
    position: relative;
}
// 轮播图 slider

.slider {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    background-color: rgb(238, 238, 238);
    width: 1920px;
    overflow-y: auto;
    ul {
        width: 8000px;
        > li {
            float: left;
            img {
                border-radius: 0 0 50% 50%/0 0 150px 150px;
            }
        }
    }
}

.side-bar {
    position: relative;
    z-index: 99;

    ul {
        padding-top: 20px;
        width: 200px;
        box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
        li {
            background-color: white;
            padding: 0 16px;
            a,
            i {
                line-height: 36px;
                color: #848484;
            }
            i {
                float: right;
            }
            &:nth-of-type(1) {
                border-radius: 8px 8px 0 0;
            }
            &:nth-last-of-type(1) {
                border-radius: 0 0 8px 8px;
            }
        }
    }
}
