@charset 'utf-8';
@import 'library/reset.css';
.warpper {
  width: 1200px;
  margin: 0 auto;
}
.head {
  background: rgba(0, 0, 0, 0.05);
}
.head .logo {
  display: inline-block;
  vertical-align: middle;
}
.head .logo img {
  width: 108px;
}
.head b {
  width: 1px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.2);
  margin: 14px 16px;
}
.head span {
  line-height: 48px;
  color: #191919;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}
.main h1 {
  padding: 100px 0 80px;
  text-align: center;
  font-size: 32px;
}
.main .login .code {
  width: 50%;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #c2c2c2;
  box-sizing: border-box;
  padding-bottom: 30px;
}
.main .login .code .code-img {
  padding: 20px;
  background-color: #f7f7f7;
  display: inline-block;
  border-radius: 8px;
  margin-left: 70px;
}
.main .login .code p {
  margin-top: 50px;
  font-size: 12px;
  color: #838383;
  margin-left: 70px;
}
.main .login .login-form {
  float: right;
  box-sizing: border-box;
  width: 50%;
}
.main .login .login-form input {
  box-sizing: border-box;
  outline: 0;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  color: #191919;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
  display: block;
  margin-left: 65px;
  width: 50%;
}
.main .login .login-form input[type='button'] {
  margin-top: 20px;
  font-size: 18px;
  line-height: 18px;
  background: #ca141d;
  color: white;
  opacity: 0.38;
}
.main .login .login-form p {
  margin-left: 65px;
  width: 50%;
  padding: 15px 0;
  text-align: center;
}
.main .login .login-form p a {
  display: inline-block;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  color: #007dff;
}
.foot {
  margin-top: 45px;
  padding: 35px 0 25px 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.foot p {
  text-align: center;
  font-size: 14px;
}
.foot p:nth-of-type(2) {
  opacity: 0.3;
  padding: 15px;
}
.foot p span {
  opacity: 0.3;
  padding: 0 10px;
}
