@charset 'utf-8';
@import 'library/reset.css';
@import 'icon/iconfont.css';
.warpper {
  width: 1200px;
  margin: 0 auto;
}
.main {
  position: relative;
  z-index: 98;
}
.warpper {
  width: 1200px;
  margin: 0 auto;
}
.top-bar {
  background-color: #2e2828;
  height: 36px;
  position: relative;
  z-index: 100;
}
.top-bar a {
  color: #afafaf;
  display: inline-block;
  line-height: 36px;
  font-size: 12px;
}
.top-bar .icon-gouwuche {
  padding-right: 8px;
  font-size: 14px;
}
.top-bar ul > li {
  float: left;
  padding: 0 8px;
  position: relative;
  height: 36px;
}
.top-bar ul > li:nth-child(n + 2)::before {
  content: '';
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
  background: #414141;
}
.top-bar ul > li > a:hover {
  color: white;
}
.top-bar .top-sub {
  position: relative;
  padding-right: 25px;
}
.top-bar .top-sub::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 5px;
  width: 5px;
  border: 1px solid;
  border-color: #afafaf #afafaf transparent transparent;
  transform: translateY(3px) rotate(135deg);
}
.top-bar .top-sub .sub {
  display: none;
}
.top-bar .top-sub:hover {
  background-color: white;
}
.top-bar .top-sub:hover::before {
  display: none;
}
.top-bar .top-sub:hover::after {
  border-color: #ca141d #ca141d transparent transparent;
  transform: translateY(6px) rotate(-45deg);
}
.top-bar .top-sub:hover > a {
  color: #ca141d;
}
.top-bar .top-sub:hover .sub {
  display: block;
  background-color: white;
  position: absolute;
  top: 36px;
  right: 0;
  padding: 12px 0 6px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
}
.top-bar .top-sub:hover .sub dt {
  text-align: center;
}
.top-bar .top-sub:hover .sub dt a {
  color: #777;
}
.top-bar .top-sub:hover .sub dt a:hover {
  color: #ca141d;
}
.top-bar .top-sub:hover .sub1 {
  width: 120px;
}
.top-bar .top-sub:hover .sub2 {
  width: 100%;
}
.top-bar .top-sub:hover .sub3 {
  width: 925px;
  position: absolute;
  right: 0;
  top: 36px;
  padding: 20px 0 0 0;
  background-color: white;
}
.top-bar .top-sub:hover .sub3 > div {
  float: left;
  width: 185px;
  padding: 0;
}
.top-bar .top-sub:hover .sub3 a {
  float: left;
  width: 50%;
  color: #777;
}
.top-bar .top-sub:hover .sub3 a:hover {
  color: #ca141d;
  text-decoration: none;
}
.top-bar .top-sub:hover .sub3 .home {
  text-align: center;
}
.top-bar .top-sub:hover .sub3 .home a {
  width: 100%;
}
.top-bar .top-sub:hover .sub3 .home div {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  background-color: #dadada;
  border-radius: 50%;
}
.top-bar .top-sub:hover .sub3 .home div i {
  font-size: 33px;
  line-height: 50px;
}
.top-bar .top-sub:hover .sub-phone {
  width: 410%;
  padding: 20px 20px 0 20px;
  position: absolute;
  top: 36px;
  right: 0;
  background-color: white;
}
.top-bar .top-sub:hover .sub-phone > div {
  vertical-align: top;
  padding-bottom: 20px;
}
.top-bar .top-sub:hover .sub-phone .code-img {
  display: inline-block;
  vertical-align: top !important;
  height: 100%;
}
.top-bar .top-sub:hover .sub-phone .code-img img {
  width: 90px;
  height: 90px;
}
.top-bar .top-sub:hover .sub-phone .wechat {
  float: right;
  vertical-align: top;
  padding-left: 10px;
}
.top-bar .top-sub:hover .sub-phone .wechat p {
  display: inline-block;
  font-size: 12px;
  color: #fc0000;
}
.top-bar .top-sub:hover .sub-gouwuche {
  padding: 50px 0;
  background-color: white;
  width: 500%;
  position: absolute;
  right: 0;
  top: 36px;
  text-align: center;
}
.top-bar .top-sub:hover .sub-gouwuche div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e4e4e4;
  margin: 0 auto;
}
.top-bar .top-sub:hover .sub-gouwuche .icon-gouwuche {
  font-size: 55px;
  color: #ccc8c8;
  line-height: 100px;
}
.top-bar .top-sub:hover .sub-gouwuche p {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #afafaf;
}
.top-bar .top-bar-left {
  float: left;
}
.top-bar .top-bar-right {
  float: right;
}
.warpper {
  width: 1200px;
  margin: 0 auto;
}
.header {
  background-color: white;
  padding: 18px 0 15px;
}
.header .warpper .logo {
  float: left;
}
.header .warpper .logo img {
  width: 205px;
  height: 36px;
}
.header .warpper .nav {
  float: left;
  margin-left: 35px;
}
.header .warpper .nav li {
  float: left;
  text-align: center;
  padding-left: 30px;
}
.header .warpper .nav li a {
  display: inline-block;
  line-height: 36px;
}
.header .warpper .nav li:nth-of-type(1) a {
  width: 74px;
}
.header .warpper .nav li:nth-of-type(1) a img {
  width: 100%;
}
.header .warpper .right-search {
  position: relative;
  font-size: 0;
  float: right;
  margin-top: 7px;
  z-index: 99;
}
.header .warpper .right-search input[type='text'] {
  vertical-align: middle;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border: 1px solid #c9c9c9;
  border-right: none;
  outline: none;
  border-radius: 15px 0 0 15px;
  font-size: 12px;
  line-height: 36px;
  text-indent: 2em;
}
.header .warpper .right-search input[type='text']:focus ~ P {
  display: none;
}
.header .warpper .right-search input[type='text']:focus ~ div {
  display: block;
}
.header .warpper .right-search input[type='submit'] {
  height: 30px;
  width: 30px;
  background-color: #f0f0f0;
  border-radius: 0 15px 15px 0;
  border: 1px solid #c9c9c9;
  border-left: none;
  outline: none;
  vertical-align: middle;
}
.header .warpper .right-search input[type='submit']::after {
  content: '';
  display: inline-block;
}
.header .warpper .right-search a {
  font-size: 12px;
  color: #999;
  margin-right: 5px;
}
.header .warpper .right-search form > p:nth-of-type(1) {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.header .warpper .right-search i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.header .warpper .right-search div {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  z-index: 99;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
}
.header .warpper .right-search div p {
  padding: 0 10px;
  margin-bottom: 0 !important;
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background-color: white;
}
.header .warpper .right-search div p:hover {
  background-color: #c9c9c9;
}
.header .warpper .right-search div p:nth-last-of-type(1) {
  border-radius: 0 0 8px 8px;
}
.footer {
  background: #f9f9f9;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer .slogan {
  padding: 20px 0;
  border-bottom: 1px solid #aaaaaa;
}
.footer .slogan ul li {
  float: left;
  width: 25%;
}
.footer .slogan ul li p {
  margin: 0;
  line-height: 40px;
}
.footer .slogan ul li p i {
  text-align: center;
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid red;
  vertical-align: middle;
  color: red;
  line-height: 40px;
  font-size: 28px;
  margin-right: 20px;
}
.footer .slogan ul li p sapn {
  vertical-align: middle;
  color: #3a3a3a;
}
.footer .servece {
  padding: 24px 0;
  border-bottom: 1px solid #aaaaaa;
}
.footer .servece .s-left {
  float: left;
  width: 77%;
}
.footer .servece .s-left ul li {
  float: left;
  width: 16.6%;
}
.footer .servece .s-left ul li p {
  font-size: 14px;
  padding: 0 0 7px 0;
  margin: 0;
}
.footer .servece .s-left ul li a {
  display: block;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  color: #777;
}
.footer .servece .s-left ul li a:hover {
  color: red;
}
.footer .servece .s-right {
  float: left;
  width: 23%;
  box-sizing: border-box;
  border-left: 1px solid #aaaaaa;
  text-align: center;
}
.footer .servece .s-right > span {
  font-size: 24px;
  font-weight: bold;
  color: #575757;
}
.footer .servece .s-right > i {
  font-size: 14px;
  display: block;
  cursor: text;
  position: relative;
}
.footer .servece .s-right > i:hover {
  color: #ca141d;
  text-decoration: none;
}
.footer .servece .s-right > p {
  width: 170px;
  height: 34px;
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 14px;
  line-height: 34px;
  background: #333;
  cursor: pointer;
  border-radius: 17px;
  text-align: center;
}
.footer .servece .s-right > p i,
.footer .servece .s-right > p span {
  color: white;
}
.footer .servece .s-right > p:hover {
  background: #777;
}
.footer .servece .s-right > div {
  cursor: pointer;
  padding-top: 20px;
  color: #3a3a3a;
}
.footer .servece .s-right > div span {
  font-size: 14px;
}
.footer .servece .s-right > div span:hover {
  color: #aaaaaa;
}
.footer .servece .s-right > div i {
  position: relative;
  font-size: 16px;
  padding-left: 3px;
}
.footer .servece .s-right > div i:hover {
  color: #aaaaaa;
}
.footer .servece .s-right > div i:nth-of-type(1) div {
  display: none;
}
.footer .servece .s-right > div i:nth-of-type(1):hover div {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../img/FWETOIrFlCrX4xuB8E16.png) no-repeat center center / 90%;
  position: absolute;
  top: 20px;
  left: 56%;
  transform: translateX(-50%);
  border: 5px solid white;
  box-shadow: 0 0 2px 0 #aaaaaa;
}
.footer .servece .s-right > div i:nth-of-type(1):hover div::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid #fd0000;
  border-color: transparent transparent white transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
}
.footer .copyright {
  padding: 20px 0;
}
.footer .copyright .c-left {
  float: left;
  width: 100px;
}
.footer .copyright .c-left img {
  width: 80%;
  margin: 0 auto;
}
.footer .copyright .c-center {
  float: left;
  font-size: 12px;
}
.footer .copyright .c-center a,
.footer .copyright .c-center span {
  font-size: 12px;
}
.footer .copyright .c-center a:hover {
  color: red;
}
.footer .copyright .c-center p {
  color: #a4a4a4;
}
.footer .copyright .c-center p:nth-of-type(1) a {
  color: #777;
}
.footer .copyright .c-center p:nth-of-type(1) a:hover {
  color: red;
}
.footer .copyright .c-center p a {
  color: #a4a4a4;
}
.footer .copyright .c-center p a:hover {
  color: red;
}
.footer .copyright .c-right {
  float: right;
  width: 275px;
}
.footer .copyright .c-right img {
  width: 33%;
  margin: 0 auto;
}
.product-path {
  font-size: 12px;
  color: #666;
}
.hide {
  display: none;
}
.product {
  margin-top: 10px;
}
.product .scale {
  float: left;
  width: 37.5%;
  position: relative;
  height: 600px;
}
.product .scale .small {
  width: 100%;
  position: relative;
  border: 1px solid black;
}
.product .scale .small img {
  width: 100%;
}
.product .scale .small .movebox {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100px;
                height: 100px; */
  background-color: #ff0000;
  opacity: 0.2;
  border: 1px solid #ccc;
  cursor: move;
  pointer-events: none;
}
.product .scale .big {
  width: 450px;
  height: 450px;
  float: left;
  border: 1px solid #ccc;
  position: absolute;
  left: 500px;
  top: 100px;
  overflow: hidden;
}
.product .scale .big img {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 900px;
}
.product .scale .slider {
  position: relative;
  margin: 20px 10px;
  height: 90px;
  overflow: hidden;
}
.product .scale .slider ul {
  width: 120%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  padding-left: 1px;
}
.product .scale .slider ul li {
  box-sizing: border-box;
  width: 16.6%;
  float: left;
  padding: 10px;
}
.product .scale .slider ul li img {
  width: 100%;
}
.product .scale .slider ul li:hover {
  border: 1px solid red;
}
.product .scale .slider-include {
  position: relative;
}
.product .scale .slider-include .left-bt,
.product .scale .slider-include .right-bt {
  font-size: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #9c9c9c;
}
.product .scale .slider-include .left-bt:hover,
.product .scale .slider-include .right-bt:hover {
  color: #c2c2c2;
}
.product .scale .slider-include .left-bt {
  left: -25px;
}
.product .scale .slider-include .right-bt {
  right: -25px;
}
.product .product-property {
  float: left;
  box-sizing: border-box;
  padding-left: 50px;
  width: 62.5%;
  height: 600px;
}
.product .product-property h1 {
  padding: 5px 0;
}
.product .product-property .product-info {
  background: #f5f5f5;
  padding: 14px 0 3px;
}
.product .product-property .product-info label {
  float: left;
  width: 90px;
  text-indent: 15px;
  line-height: 30px;
  color: #3a3a3a;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.product .product-property .product-info .product-price {
  color: #ca141d;
  padding-right: 3px;
  font-size: 24px;
  line-height: 30px;
}
.product .product-property .product-info .chuxiao p {
  color: #3a3a3a;
  font-size: 12px;
  line-height: 30px;
}
.product .product-property .product-info .chuxiao p span {
  float: left;
  line-height: 18px;
  height: 18px;
  border: 1px solid #ca141d;
  padding: 0 6px;
  min-width: 24px;
  color: #ca141d;
  text-align: center;
  margin-right: 10px;
  margin-top: 5px;
}
.product .product-property > p {
  font-size: 12px;
  color: #3a3a3a;
  padding-top: 10px;
}
.product .product-property > p label {
  display: inline-block;
  width: 90px;
  text-indent: 15px;
  line-height: 30px;
  color: #3a3a3a;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.product .product-property .property-select {
  border-top: 1px solid #a4a4a4;
  padding-top: 20px;
  height: 275px;
}
.product .product-property .property-select label {
  display: inline-block;
  width: 90px;
  text-indent: 15px;
  line-height: 30px;
  color: #3a3a3a;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.product .product-property .property-select span {
  display: inline-block;
  color: #3a3a3a;
  cursor: pointer;
  height: 38px;
  font-size: 12px;
  text-indent: 30px;
  line-height: 38px;
  box-sizing: border-box;
  border: 1px solid #a4a4a4;
  text-align: center;
  padding: 0 12px;
  background: url(../img/d1.png) no-repeat 12px center / 25px 25px;
}
.product .product-property .property-select span:hover {
  border: 1px solid red;
}
.product .product-property .property-select i {
  font-size: 12px;
  color: red;
}
.product .product-selected p {
  height: 30px;
}
.product .product-selected p label {
  float: left;
  width: 90px;
  text-indent: 15px;
  color: #3a3a3a;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 30px;
}
.product .product-selected p i {
  font-size: 12px;
  color: red;
  display: inline-block;
  line-height: 30px;
}
.product .product-selected .add {
  padding-left: 15px;
}
.product .product-selected .add .num {
  vertical-align: middle;
  float: left;
  margin-right: 10px;
}
.product .product-selected .add .num input {
  float: left;
  height: 46px;
  width: 46px;
  box-sizing: border-box;
  border: 1px solid #a4a4a4;
  text-align: center;
  font-size: 22px;
}
.product .product-selected .add .num p {
  float: left;
}
.product .product-selected .add .num p span {
  display: block;
  text-align: center;
  font-weight: 900;
  width: 23px;
  height: 23px;
  line-height: 23px;
  box-sizing: border-box;
  border: 1px solid #a4a4a4;
  background-color: white;
}
.product .product-selected .add .add-gowuche {
  display: inline-block;
  background: #fc600c;
  width: 172px;
  height: 46px;
  font-size: 18px;
  line-height: 46px;
  color: #fff;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.product-tab {
  padding: 10px 0;
  margin: 16px 0;
  border: top 1px solid #a4a4a4;
  position: sticky;
  background-color: white;
  top: 0;
}
.product-tab p {
  text-align: center;
}
.product-tab p a {
  display: inline-block;
  margin: 0 25px;
  font-size: 18px;
  padding: 0 10px 6px 10px;
  color: #a4a4a4;
  position: relative;
}
.product-tab p a:hover {
  color: red;
}
.product-tab p a:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  background: #ff0101;
  position: absolute;
  left: 0;
  bottom: 0;
}
.product-introduce .details img {
  width: 100%;
}
.product-introduce .parameter {
  margin-top: 60px;
}
.product-introduce .parameter .title p {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 14px;
  position: relative;
  padding-left: 14px;
}
.product-introduce .parameter .title p::before {
  content: '';
  width: 4px;
  height: 23px;
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
  background: #ca141d;
}
.product-introduce .parameter .p-content {
  padding-top: 30px;
}
.product-introduce .parameter .p-content h1 {
  float: left;
  width: 150px;
  font-size: 24px;
  color: #333;
}
.product-introduce .parameter .p-content ul {
  float: left;
  width: 1050px;
}
.product-introduce .parameter .p-content ul li {
  margin-bottom: 24px;
}
.product-introduce .parameter .p-content ul li span {
  width: 15%;
  display: inline-block;
  color: #333;
  font-size: 16px;
  vertical-align: top;
  box-sizing: border-box;
}
.product-introduce .parameter .p-content ul li span:nth-of-type(2) {
  box-sizing: border-box;
  width: 45%;
  padding-right: 100px;
}
.product-introduce .parameter .p-content ul li span:nth-of-type(3) {
  width: 35%;
  color: #999;
  font-size: 14px;
}
.product-introduce .package .title p {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 14px;
  position: relative;
  padding-left: 14px;
}
.product-introduce .package .title p::before {
  content: '';
  width: 4px;
  height: 23px;
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
  background: #ca141d;
}
.product-introduce .package .pk-content {
  padding: 34px 50px 53px 130px;
}
.product-introduce .package .pk-content p {
  width: 25%;
  float: left;
  position: relative;
  text-indent: 15px;
  font-size: 14px;
  color: #3a3a3a;
  padding-bottom: 20px;
}
.product-introduce .package .pk-content p::before {
  content: '';
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 3px;
  background: #d8d8d8;
  position: absolute;
  top: 6px;
  left: 0;
}
.product-introduce .after-sale p {
  font-size: 14px;
  color: #3a3a3a;
}
.product-introduce .after-sale .title p {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 14px;
  position: relative;
  padding-left: 14px;
}
.product-introduce .after-sale .title p::before {
  content: '';
  width: 4px;
  height: 23px;
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
  background: #ca141d;
}
.product-introduce .after-sale .as-content {
  padding: 34px 50px 53px 130px;
}
.product-introduce .after-sale .as-content p {
  position: relative;
  text-indent: 15px;
  font-size: 14px;
  color: #3a3a3a;
}
.product-introduce .after-sale .as-content p::before {
  content: '';
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 3px;
  background: #d8d8d8;
  position: absolute;
  top: 6px;
  left: 0;
}
.product-introduce .product-score {
  margin-top: 60px;
  padding: 25px 0;
  border-top: 1px solid #bbbbbb;
}
.product-introduce .product-score .score {
  float: left;
  text-align: center;
}
.product-introduce .product-score .score p {
  text-align: center;
}
.product-introduce .product-score .score p span {
  color: #ca141d;
  display: inline-block;
  font-size: 56px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 12px;
}
.product-introduce .product-score .score p em {
  color: #ca141d;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
}
.product-introduce .product-score .score i {
  display: block;
  text-align: center;
  padding-right: 17px;
  line-height: 14px;
}
.product-introduce .product-score .comment-tap {
  float: right;
  width: 88%;
}
.product-introduce .product-score .comment-tap ul li {
  float: left;
}
.product-introduce .product-score .comment-tap ul li a {
  display: inline-block;
  line-height: 32px;
  font-size: 14px;
  padding: 0 8px;
  height: 32px;
  color: #333;
  display: block;
  background-color: #f5f5f5;
  border-radius: 2px;
  margin: 0 10px 10px 0;
}
.product-introduce .comment .comments {
  border-top: 1px solid #bbb;
  border-bottom: 1px dashed #bbb;
  padding-left: 5px;
}
.product-introduce .comment .comments a {
  font-size: 14px;
  color: #333;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
}
.product-introduce .comment .comment-details .person-comment {
  padding: 20px 0;
}
.product-introduce .comment .comment-details .person-comment .c-left {
  float: left;
  width: 10%;
}
.product-introduce .comment .comment-details .person-comment .c-left p {
  text-indent: 25px;
  padding: 10px;
}
.product-introduce .comment .comment-details .person-comment .c-left img {
  border-radius: 50%;
}
.product-introduce .comment .comment-details .person-comment .c-right {
  width: 80%;
  float: left;
}
.product-introduce .comment .comment-details .person-comment .c-right h1 i {
  color: red;
}
.product-introduce .comment .comment-details .person-comment .c-right h1 span {
  float: right;
  color: #a4a4a4;
  font-size: 14px;
}
.product-introduce .comment .comment-details .person-comment .c-right p:nth-of-type(1) {
  color: #000;
  padding: 10px 0 50px;
}
.product-introduce .comment .comment-details .person-comment .c-right p:nth-of-type(2) {
  color: #a4a4a4;
}
.reduce,
.add {
  cursor: pointer;
  background-color: red !important;
}
