@charset 'utf-8';

// hover后的字体颜色
@hover-red: #ca141d;
.warpper {
    width: 1200px;
    margin: 0 auto;
}
.main {
    position: relative;
    z-index: 98;
    overflow: hidden;
}
@import './library/reset.css';
@import './library/top-bar.less'; //tob-bar
@import './library/header'; // header
@import './library/footer'; //footer
@import './icon/iconfont.css';

.product-path {
    font-size: 12px;
    color: #666;
}
// 商品放大镜和属性选择
// 放大镜
.product {
    margin-top: 10px;
    .scale {
        float: left;
        width: 37.5%;
        background-color: wheat;
        height: 600px;
        .small {
            width: 100%;
            background-color: yellowgreen;

            img {
                width: 100%;
            }
        }
        > ul {
            width: 360px;
            margin: 0 auto;
            li {
                width: 60px;
                float: left;
                img {
                    width: 100%;
                }
            }
        }
    }
    .product-property {
        h1 {
            padding: 5px 0;
        }
        float: left;
        background-color: yellow;
        width: 62.5%;
        height: 600px;
        .product-info {
            background: #f5f5f5;
            padding: 14px 0 3px;
            label {
                float: left;
                width: 90px;
                text-indent: 15px;
                line-height: 30px;
                color: #3a3a3a;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 12px;
            }
            .product-price {
                color: #ca141d;
                padding-right: 3px;
                font-size: 24px;
                line-height: 30px;
            }
            .chuxiao {
                p {
                    color: #3a3a3a;
                    font-size: 12px;
                    line-height: 30px;
                    span {
                        float: left;
                        line-height: 18px;
                        height: 18px;
                        border: 1px solid #ca141d;
                        padding: 0 6px;
                        min-width: 24px;
                        color: #ca141d;
                        text-align: center;
                        margin-right: 10px;
                        margin-top: 5px;
                    }
                }
            }
        }
        > p {
            font-size: 12px;
            color: #3a3a3a;

            padding-top: 10px;
            label {
                display: inline-block;
                width: 90px;
                text-indent: 15px;
                line-height: 30px;
                color: #3a3a3a;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 12px;
            }
        }
        .property-select {
            border-top: 1px solid #a4a4a4;
            padding-top: 20px;
            height: 275px;
            background-color: chartreuse;
            label {
                display: inline-block;
                width: 90px;
                text-indent: 15px;
                line-height: 30px;
                color: #3a3a3a;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 12px;
            }
            span {
                display: inline-block;
                color: #3a3a3a;
                cursor: pointer;
                height: 38px;
                font-size: 12px;
                text-indent: 30px;
                line-height: 38px;
                box-sizing: border-box;
                border: 1px solid #a4a4a4;
                text-align: center;
                padding: 0 12px;
                background: url(../img/d1.png) no-repeat 12px center / 25px 25px;
                &:hover {
                    border: 1px solid red;
                }
            }
            i {
                font-size: 12px;
                color: red;
            }
        }
    }
    .product-selected {
        p {
            height: 30px;
            label {
                float: left;
                width: 90px;
                text-indent: 15px;
                line-height: 30px;
                color: #3a3a3a;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 12px;
                line-height: 30px;
            }
            i {
                font-size: 12px;
                color: red;
                display: inline-block;
                line-height: 30px;
            }
        }
        .add {
            padding-left: 15px;
            .num {
                background-color: chartreuse;
                vertical-align: middle;
                float: left;
                margin-right: 10px;
                input {
                    float: left;
                    height: 46px;
                    width: 46px;
                    box-sizing: border-box;
                    border: 1px solid #a4a4a4;
                    text-align: center;
                    font-size: 22px;
                }
                p {
                    float: left;
                    span {
                        display: block;
                        text-align: center;
                        font-weight: 900;
                        width: 23px;
                        height: 23px;
                        line-height: 23px;
                        box-sizing: border-box;
                        border: 1px solid #a4a4a4;
                        background-color: white;
                    }
                }
            }
            .add-gowuche {
                display: inline-block;
                background: #fc600c;
                width: 172px;
                height: 46px;
                font-size: 18px;
                line-height: 46px;
                text-align: center;
                color: #fff;
                border-radius: 2px;
                border: 0;
                cursor: pointer;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}
