@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1626080698133') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-riqi:before {
  content: "\e636";
}

.icon-arrow-right:before {
  content: "\e601";
}

.icon-arrow-right-copy:before {
  content: "\e602";
}

.icon-18huidaodingbu:before {
  content: "\e635";
}

.icon-xingxing:before {
  content: "\e60d";
}

.icon-Upward:before {
  content: "\e61e";
}

.icon-leftarrow:before {
  content: "\e624";
}

.icon-rightarrow:before {
  content: "\e626";
}

.icon-weixin:before {
  content: "\e615";
}

.icon-jiantou:before {
  content: "\e603";
}

.icon-huawei:before {
  content: "\e82e";
}

.icon-xingxing1:before {
  content: "\e621";
}

.icon-piaoquan:before {
  content: "\e604";
}

.icon-jiantou1:before {
  content: "\e64a";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-jiantoushang1:before {
  content: "\e62d";
}

.icon-jiantouxia:before {
  content: "\e62e";
}

.icon-huidaodingbu:before {
  content: "\e64d";
}

.icon-kefu:before {
  content: "\e606";
}

.icon-xingxing2:before {
  content: "\e646";
}

.icon-jiantou2:before {
  content: "\e618";
}

.icon-weibo:before {
  content: "\e619";
}

.icon-riqi1:before {
  content: "\e63d";
}

.icon-jiantou3:before {
  content: "\e84f";
}

.icon-xingxing3:before {
  content: "\e859";
}

.icon-gouwuche:before {
  content: "\e6c1";
}

.icon-jiantou4:before {
  content: "\e625";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-youjiantou_huaban:before {
  content: "\e63e";
}

.icon-zuojiantou_huaban:before {
  content: "\e63f";
}

.icon-qiyeguanli:before {
  content: "\e65f";
}

.icon-baidu:before {
  content: "\e640";
}

.icon-jiantoushang2:before {
  content: "\e61b";
}

.icon-jiantouyou:before {
  content: "\e61c";
}

.icon-piao:before {
  content: "\e657";
}

.icon-toutiaoyangshi:before {
  content: "\e622";
}

.icon-xianxingtubiaozhizuomoban-06:before {
  content: "\e61a";
}

.icon-xianxingtubiaozhizuomoban-07:before {
  content: "\e61d";
}

.icon-jiantou5:before {
  content: "\e63c";
}

.icon-weibo-circle-fill:before {
  content: "\ea8d";
}

.icon-right-arrow-1:before {
  content: "\e699";
}

.icon-right-circle:before {
  content: "\eb1f";
}

.icon-xingxing4:before {
  content: "\e605";
}

.icon-baidu1:before {
  content: "\e629";
}

.icon-qiye:before {
  content: "\e609";
}

.icon-huidaodingbu1:before {
  content: "\e630";
}

.icon-caipu-1:before {
  content: "\e631";
}

.icon-fanhui:before {
  content: "\e632";
}

.icon-qianjin:before {
  content: "\e633";
}

.icon-rili:before {
  content: "\e634";
}

.icon-rili-yizhou:before {
  content: "\e637";
}

.icon-renzheng:before {
  content: "\e638";
}

.icon-weizhi:before {
  content: "\e639";
}

