@charset 'utf-8';
.slider {
  width: 1519px;
  height: 530px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.slider div {
  width: 10000px;
  position: absolute;
}
.slider div img {
  float: left;
  width: 1519px;
  height: 530px;
}
.slider span {
  position: absolute;
  z-index: 198;
  top: 47%;
  font-size: 1.5em;
  cursor: pointer;
  user-select: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 50px;
  color: white;
}
.slider span:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.slider span:nth-of-type(1) {
  left: 365px;
}
.slider span:nth-of-type(2) {
  right: 0;
}
.slider ul {
  width: 50px;
  position: absolute;
  top: 450px;
  left: 75%;
  transform: translateX(-50%);
  z-index: 199;
}
.slider ul li {
  list-style: none;
  height: 10px;
  width: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  float: left;
}
.slider ul .active {
  background-color: red;
}
